html {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
p{
    padding-left: 1em;
    margin: 0%;
    padding-top: .1em;
}
.boxContact{
    padding-left: 2.3em;
    margin: 0%;
    padding-top:.15em;
    font-size: small;
}
h2{
    padding-left: 1em;
}
h3{
    text-align: left;
    color:#0D1F2D;
    font-size: medium;
    padding-left: 1.5em;
    padding-bottom: .25em;
    border-color: #0D1F2D;
    border-width: .15em;
    border-style: none none solid none;
}
.pfooter{
    text-align: left;
    color:#f2f2f2;
    text-decoration: underline;
    font-size: small;
    padding-top: .35em;
    margin-left: 10em;
}
.pBoxContact{
    text-align: left;
    color:#0D1F2D;
    margin:0%;
    font-size: small;
    padding-top: .35em;
}

.containerKontakt{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content:center;
    margin-right: 6em;
    margin-left: 3em;
}

.itemKontakt{
    flex-grow: 1;
    width: 50%;
    min-height: 6em;
    min-width: 3em;
}
.itemKontakt2{
    flex-grow: 1;
    width: 50%;
    min-height: 6em;
    min-width: 3em;
}

/* #region  Divs */
.spacerDiv {
    padding: 1em;
}

.contentDiv {
    background-color: #F5F5F5;
    padding-top: 1em;
    padding-bottom: 1em;
}
.bottomDiv{
    bottom: 0%;
    background-color: #0D1F2D;
    position: fixed;
    width: 100%;
    padding-top: 1em;
    padding-left: 5em;
    padding-right: 3em;
    padding-bottom: 1em;

}
.footerPicture{
    width: 70%;
    height: 5em;
    background-color: #9EA3B0;
}

.containerBotDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: .2em;
}
.itemBotDiv{
    flex-grow: 1;
    color: #f2f2f2;
    width: 50%;
}
.flexRowLeft{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: flex-start;
    text-align: center;
    text-decoration: overline;
    color: #f2f2f2;
}
.itemRowLeft{
    flex-grow: 1;
    width: auto;
}

.contactData{
    background-color:#f2f2f2;
    color:#0D1F2D;
    position: relative;
    width: 20em;
    height: auto;
    margin-right: 5em;
    right: 0%;  
    border-color: #0D1F2D;
    border-radius: .5em;
    border-width: .25em;
    border-style: solid;
    padding-bottom: 3em;
}

/* #endregion */






/* #region  NavBar */
.topnav {
    background-color: #0D1F2D;
    overflow: hidden;
    text-align: center;
    align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: .75em 1em;
    text-decoration: none;
    font-size: 1em;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #9EA3B0;
    color: white;
}

.topnav a:active {
    text-decoration: underline;
}
/* #endregion */





/* #region  Font-Size */
/* Uses vh and vm with calc */
@media screen and (max-width: 720px) {

    /* smartphones breakpoint */
    html {
        font-size: 12px
    }
}

@media screen and (min-width: 720px) and (max-width: 1024px) {

    /* tablets */
    html {
        font-size: 16px
    }
}

@media screen and (min-width: 1024px) {

    /* laptops */
    html {
        font-size: 20px
    }
}

/* #endregion */